.button-login {
  display: inline-block;
  border: none;
  border-radius: 2px;
  margin-top: 10px;
  /*width: 135px;*/
  height: 25px;
  padding: 0;
  width: 100%;
  background-color: #fff;
  cursor: pointer;
}

.button-login-text {
  margin-left: auto;
  margin-right: auto;
  background: url(../images/bt_connect_portail.png) !important;
  width: 423px;
  height: 48px;
  /* margin-left: -129px; */
  margin-top: -5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* background-repeat: no-repeat; */
  /* overflow: hidden; */
  /* z-index: 100; */
  text-align: center;
}

.or-container {
  display:block;
  padding: 0;
  margin: 0;
  min-width: 900px;
  padding-top: 40px;
}

.or-container hr {
  width: 454px;
  margin-left: auto;
  margin-right: auto;
}

.or-container p {
  width: 454px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: -15px;
}

.or-container span {
  background-color: #fff;
  padding: 5px;
  font-size: medium;
}

.no-pointer {
  cursor: default;
}