.button-container {
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: intrinsic;
  margin: auto;
}

.button-login {
  position: relative;
  display: block;
  border: 1px solid #999;
  border-radius: 2px;
  height: auto !important;
}

.button-login-text {
  line-height: 32px;
  font-size: 12px;
  float: right;
}

.button-link:hover, .button-link:active {
  color: unset;
  text-decoration: unset;
}
